<li>
	<div>
	  <%= gravatar_for user, size: 50 %>
	  <%= link_to user.name, user %>
	  
	</div>
	<% if current_user.admin? && !current_user?(user) %>
		<% if user.isblocked?%> 
	  	<%#= link_to "unblock", user_unblock_path, method: :get%>
				<%= link_to "Unblock", unblock_user_path(user), method: :patch, data: { confirm: "You sure?" }, class: "btn btn-success btn-xs my-buttons" %>
	  <%else%>
	  	<%#= link_to "block", user_block_path, method: :get%>
				<%= link_to "Block", block_user_path(user), method: :patch, data: { confirm: "You sure?" }, class: "btn btn-danger btn-xs my-buttons" %>
	  <% end %>
	<%end%>
	<% if !current_user?user %>
  	<%= link_to "Messages ", messages_path(id: user.id, receiver_id: user.id), class: "btn btn-primary btn-sm my-buttons" %>
  <% end %>
</li>