<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
    	<li>
	    	<% if current_user.admin? && !current_user?(@user) %>
			  <% if @user.isblocked?%> 
			  	<%#= link_to "unblock", user_unblock_path, method: :get%>
					<%= form_for(@user, url: unblock_user_path(@user)) do |f|%>
						<%= hidden_field_tag :isblocked, true %>
						<%= f.submit "Unblock", class: "btn btn-success", style: "width: 20%" %>
					<% end %>
			  <%else%>
			  	<%#= link_to "block", user_block_path, method: :get%>
					<%= form_for(@user, url: block_user_path(@user)) do |f| %>
						<%= hidden_field_tag :isblocked, false %>
						<%= f.submit "Block", class: "btn btn-primary", style: "width: 20%" %>
			   		<%end%>
			   <% end %>
			<% end %>
		</li>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
  	<%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>